<div id="menuTop">
  <div class="center">
    <div class="menuTopClass">
      <div class="menuTop">
        <div class="tabletLogo">
          <a href="index" class="menuTopAImg"><img src="assets/img/logo.png"></a>
          <a href="index.html" class="menuTopAText" style="text-decoration: none;">
            <p class="font1">Фото-подушки</p>
            <p class="font2">создание подушек с фотографиями</p>
          </a>
        </div>
        <div class="tabletMenu">
          <a href="#" class="menuTopA1" data-toggle="modal" data-target="#modal-1">Доставка</a>
          <img class="menuTopImg" src="assets/img/lineVertical.png">
          <a href="#" class="menuTopA2" data-toggle="modal" data-target="#modal-2">Оплата</a>
          <img class="menuTopImg" src="assets/img/lineVertical.png">
          <a href="#" class="menuTopA2" data-toggle="modal" data-target="#modal-3">Контакты</a>
        </div>
        <div class="tabletButton">
          <a href="#" class="menuTopButton" data-toggle="modal" data-target="#modal-5">Заказать звонок</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="top">
  <div class="center">
    <div class="topWoman"></div>
    <div class="topPresent1">
      <p class="topPresent1Text1">Лучший подарок!</p>
      <p class="topPresent1Text2">Подушка с фотографиями..</p>
      <p class="topPresent1Text3">
        Вам осталось только загрузить фотки и разместить<br>
        их на подушке, а мы сделаем все остальное:<br>
        напечатаем, пошьём и отправим Вам!
      </p>
    </div>
    <div class="topPresent2">
      <p class="topPresent2Text1">Создайте свой уникальный</p>
      <p class="topPresent2Text2">подарок прямо сейчас!</p>

      <%= link_to('Приступить к созданию', paintings_index_path, method: :post, class: "topPresent2Text3") %>

    </div>
    <div class="pillow">
      <p><font1>300 000</font1><br><font2>рублей</font2></p>
    </div>
    <div class="present1">
      <img src="assets/img/present1.png">
      <p class="present1Text1"><b>Удобно оплатить</b></p>
      <p class="present1Text2">
        Оплачивайте на почте при<br>
        получении или банковскими<br>
        картами на нашем сайте.
      </p>
    </div>
    <div class="present2">
      <img src="assets/img/present2.png">
      <p class="present2Text1"><b>Быстрая доставка</b></p>
      <p class="present2Text2">
        Отправлением EMS в любую<br>
        точку страны. Доставка за<br>
        3-5 дней до вашей двери.
      </p>
    </div>
    <div class="present3">
      <img src="assets/img/present3.png">
      <p class="present1Text1"><b>Гарантия качества</b></p>
      <p class="present1Text2">
        Если Вам что-то не понравится,<br>
        мы сделаем возврат покупки.<br>
        Легко и без проблем!
      </p>
    </div>
  </div>
</div>


<div id="quality">
  <div class="center">

    <div class="qualityPillow">
      <p class="qualityPillowP1"><b>Размер подушки</b></p>
      <p class="qualityPillowP2"><b>38х38 см</b></p>
      <p class="qualityPillowP3" text-align="justify">
        Наволочка съемная, изготовлена из
        приятного на ощупь сатэна. А сама
        подушка наполнена холофайбером
        (антиаллергенный наполнитель).
        Качество материала и печати позволяет
        без проблем стирать съемную наволочку
        при температуре до 40 градусов.
      </p>
    </div>

    <div class="qualityPeople">
      <div style="float: left; margin-bottom: 15px;">
        <i class="fa fa-car faFonts"></i>
        <span class="qualityPeopleText1 qualityPeopleText11">Бесплатная доставка</span><br>
        <p class="qualityPeopleText2"><span>Бесплатная доставка <b>БелПочтой</b></span></p>
      </div>

      <div style="float: left; margin-bottom: 15px;">
        <i class="fa fa-credit-card faFonts"></i>
        <span class="qualityPeopleText1">Удобно оплатить</span><br>
        <p class="qualityPeopleText2"><span>Оплачивайте при получении</span></p>
      </div>

      <div style="float: left; margin-bottom: 15px;">
        <i class="fa fa-thumbs-up faFonts fa3"></i>
        <span class="qualityPeopleText1 qualityPeopleText13">100% Гарантия качества</span><br>
        <p class="qualityPeopleText2"><span>Будьте уверенны, качество будет <b>отличным!</b><br> Если вам что-то не понравится,<br> мы вернем вам деньги!</span>
        </p>
      </div>
    </div>

  </div>
</div>


<div id="pillows">
  <div class="center">
    <img class="pillowsImg1" src="assets/img/ramka.png">
    <p class="pillowText1">Готовые подушки</p>
    <p class="pillowText2">Наших дорогих покупателей</p>
    <img class="pillowsImg2" src="assets/img/stDown.png">
  </div>
</div>

<div class="container" style="width: 100%;">
  <div class="col-lg-12 col-sm-12">
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <div class="row">
            <div class="col-lg-3 col-sm-3"><img src="assets/img/photo/img1.png" alt="Image" class="img-responsive"></div>
            <div class="col-lg-3 col-sm-3"><img src="assets/img/photo/img1.png" alt="Image" class="img-responsive"></div>
            <div class="col-lg-3 col-sm-3"><img src="assets/img/photo/img1.png" alt="Image" class="img-responsive"></div>
            <div class="col-lg-3 col-sm-3"><img src="assets/img/photo/img1.png" alt="Image" class="img-responsive"></div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-lg-3 col-sm-3"><img src="assets/img/photo/img1.png" alt="Image" class="img-responsive"></div>
            <div class="col-lg-3 col-sm-3"><img src="assets/img/photo/img1.png" alt="Image" class="img-responsive"></div>
            <div class="col-lg-3 col-sm-3"><img src="assets/img/photo/img1.png" alt="Image" class="img-responsive"></div>
            <div class="col-lg-3 col-sm-3"><img src="assets/img/photo/img1.png" alt="Image" class="img-responsive"></div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-lg-3 col-sm-3"><img src="assets/img/photo/img1.png" alt="Image" class="img-responsive"></div>
            <div class="col-lg-3 col-sm-3"><img src="assets/img/photo/img1.png" alt="Image" class="img-responsive"></div>
            <div class="col-lg-3 col-sm-3"><img src="assets/img/photo/img1.png" alt="Image" class="img-responsive"></div>
            <div class="col-lg-3 col-sm-3"><img src="assets/img/photo/img1.png" alt="Image" class="img-responsive"></div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span style="font-size:80px; margin-top:-60px; margin-left:-45px;" class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span style="font-size:80px; margin-top:-60px;" class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>

<div id="lineZakaz">
  <div class="center">
    <div class="lineZakazLeft">
      <img src="assets/img/pen.png">
      <p class="lineZakazLeftP1">А как будет выглядеть подушка<br>с вашими фото?</p>
    </div>
    <div class="lineZakazRight">
      <%= link_to('Создать эскиз', paintings_index_path, method: :post, class: "lineZakazText3") %>
    </div>
  </div>
</div>


<div id="vk">
  <div class="center">
    <div class="vk">
      <img src="assets/img/paper.png">
      <p class="vkP1">Узнавайте первыми об акциях<br>нашего магазина! <b>Подпишитесь!</b></p>
      <div id="vk_groups">
        ГРУППА - ПОДПИСКА<br>
        ГРУППА - ЛЕНТА
      </div>
    </div>
  </div>
</div>

<div id="slide">
  <div class="center">
    <div class="slide">
      <div class="view-source">
        <p class="hideBlockP1">Выберите расположение фоторгафий</p>
        <div class="hideBlock">

          <div class="rowConstructor">
            <div class="constructorFoto" id="template6" value="template6" href="#scrollToForm">
              <img class="constructorFotoImg1" src="../assets/pillowCunstructor/constructor1.png"/>
              <img class="constructorFotoImg2" src="../assets/pillowCunstructor/schema1.png"/>
              <p class="constructorP1" id="descriptionFoto11">2 фото</p>
              <p class="constructorP2" id="descriptionFoto12">2 равных фото</p>
            </div>
            <div class="constructorFoto" id="template8" value="template8" href="#scrollToForm">
              <img class="constructorFotoImg1" src="../assets/pillowCunstructor/constructor2.png"/>
              <img class="constructorFotoImg2" src="../assets/pillowCunstructor/schema2.png"/>
              <p class="constructorP1" id="descriptionFoto11">6 фото</p>
              <p class="constructorP2" id="descriptionFoto12">6 разных прямоугольников</p>
            </div>
            <div class="constructorFoto" id="template7" value="template7" href="#scrollToForm">
              <img class="constructorFotoImg1" src="../assets/pillowCunstructor/constructor3.png"/>
              <img class="constructorFotoImg2" src="../assets/pillowCunstructor/schema3.png"/>
              <p class="constructorP1" id="descriptionFoto11">13 фото</p>
              <p class="constructorP2" id="descriptionFoto12">1 большое и 12 маленьких</p>
            </div>
            <div class="constructorFoto" id="template3" value="template3" href="#scrollToForm">
              <img class="constructorFotoImg1" src="../assets/pillowCunstructor/constructor4.png"/>
              <img class="constructorFotoImg2" src="../assets/pillowCunstructor/schema4.png"/>
              <p class="constructorP1" id="descriptionFoto11">15 фото</p>
              <p class="constructorP2" id="descriptionFoto12">3 большое и 12 маленьких</p>
            </div>
          </div>

          <div class="rowConstructor">
            <div class="constructorFoto" id="template1" value="template1" href="#scrollToForm">
              <img class="constructorFotoImg1" src="../assets/pillowCunstructor/constructor5.png"/>
              <img class="constructorFotoImg2" src="../assets/pillowCunstructor/schema5.png"/>
              <p class="constructorP1" id="descriptionFoto11">2 х 2 фото</p>
              <p class="constructorP2 constructorP2_2" id="descriptionFoto12">4 равных квадрата</p>
            </div>
            <div class="constructorFoto" id="template2" value="template2" href="#scrollToForm">
              <img class="constructorFotoImg1" src="../assets/pillowCunstructor/constructor6.png"/>
              <img class="constructorFotoImg2" src="../assets/pillowCunstructor/schema6.png"/>
              <p class="constructorP1" id="descriptionFoto11">3 х 3 фото</p>
              <p class="constructorP2" id="descriptionFoto12">9 равных квадрата</p>
            </div>
            <div class="constructorFoto" id="template4" value="template4" href="#scrollToForm">
              <img class="constructorFotoImg1" src="../assets/pillowCunstructor/constructor7.png"/>
              <img class="constructorFotoImg2" src="../assets/pillowCunstructor/schema7.png"/>
              <p class="constructorP1" id="descriptionFoto11">4 х 4 фото</p>
              <p class="constructorP2" id="descriptionFoto12">16 равных квадрата</p>
            </div>
            <div class="constructorFoto" id="template5" value="template5" href="#scrollToForm">
              <img class="constructorFotoImg1" src="../assets/pillowCunstructor/constructor6.png"/>
              <img class="constructorFotoImg2" src="../assets/pillowCunstructor/schema8.png"/>
              <p class="constructorP1" id="descriptionFoto11">5 х 5 фото</p>
              <p class="constructorP2" id="descriptionFoto12">25 равных квадрата</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="center">
    <div class="footerLeft">
      <a href="index.html"><img src="assets/img/logo2.png"></a>
      <p class="footerLeftP1">Фото-подушки</p>
      <p class="footerLeftP2">Создание подушек с фотографиями</p>
    </div>
    <div class="footerCenter">
      <p class="footerCenterP1"><b>ИНФОРМАЦИЯ</b></p>

      <div class="tabletMenu">
        <a href="#" class="menuTopA1 menuTopA1_2" data-toggle="modal" data-target="#modal-1">Доставка</a>
        <img class="menuTopImg menuTopImg_n" src="assets/img/lineVertical.png">
        <a href="#" class="menuTopA2 menuTopA2_n" data-toggle="modal" data-target="#modal-2">Оплата</a>
        <img class="menuTopImg menuTopImg_n" src="assets/img/lineVertical.png">
        <a href="#" class="menuTopA2 menuTopA2_n" data-toggle="modal" data-target="#modal-3">Контакты</a>
      </div>

    </div>
    <div class="footerRight">
      <p class="footerRightP1"><b>© 2014 FotoPodushki.by</b></p>
    </div>
  </div>
</div>


<!--MODAL_WINDOWS-->
<div class="modal fade" id="modal-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">X</button>
        <h4 class="modal-title">Доставка</h4>
      </div>
      <div class="modal-body">
        <p>
          * Заказ переходит на доставку сразу же после изготовления.<br>
          Изготовление занимает 2 дня.<br>
          Доставка<br>
          Мы предлагаем два способа доставки по России.<br>
          1) Отправлением 1-м классом БелПочты. Доставка<br>
          до ближайшего отделения почты. Срок доставки 5 - 9 рабочих дней.<br>
          Стоимость доставки: 290р.<br>
          2) Отправлением службы доставки EMS. Доставка до двери за 3-5 дней.<br>
          Стоимость доставки: 790р.<br>
          Все этапы оформления и доставки Вашего заказа сопровождаются смс информированием.<br>
          Вы всегда в курсе всех событий, производимых с заказом.<br>
          Доставка по Гомелю<br>

          Доставку осуществляет наш курьер сразу после изготовления заказа (2 дня).<br>
          Менеджер предварительно свяжется с Вами чтобы уточнить время и адрес для доставки.<br>
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-2">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">X</button>
        <h4 class="modal-title">Способы оплаты</h4>
      </div>
      <div class="modal-body">
        <p>
          <b>Наложенным платежом</b> - оплата при получении заказа.<br>
          <b>Наложенный платеж</b> - это возможность оплаты заказа в
          отделении почты в момент его получения. При получении и оплате заказа, доставленного наложенным платежом,
          взимается плата по тарифу на пересылку внутренних простых почтовых переводов.<br>
          Процент оплаты зависит от пересылаемой суммы и фактически составляет: 5% + 50 руб.<br>
          В связи с этим просим Вас приготовиться к оплате этого сбора, если Вы выбираете Наложенный платёж как способ оплаты.<br><br>
          <b>Наличными курьеру</b> - при доставке курьером, вы может рассчитаться наличными.<br>
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-3">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">X</button>
        <h4 class="modal-title">Контакты</h4>
      </div>
      <div class="modal-body">
        <p>
          Фотоподушки.бел – это сервис, с помощью которого Вы сможете создать<br>
          уникальную подушку с вашими фотографиями.<br>
          Наша цель – дать новый и увлекательный способ порадовать себя и своих<br>
          близких людей оригинальным подарком и предметом интерьера.<br>
          Для нас важно чтобы покупатель и получатель подарка остались довольны,<br>
          поэтому наши подушки сделаны из качественных материалов, а картинка<br>
          всегда останется в первоначальном виде. Мы гарантируем качество,<br>
          поэтому готовы вернуть деньги, если вас что-то не устроит в нашем продукте.<br><br>
          Контакты<br>
          Коллектив сервиса Фотоподушки.бел находится в г.Гомеле.<br>
          Работаем и принимаем заказы каждый день 24 часа в сутки.<br>
          Вы всегда можете связаться с нами по телефону: +375 (25) 934-02-84<br>
          Или по email: shop@fotopodushki.by<br>
          Будем рады ответить на ваши вопросы!
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="modal-5">
  <div class="modal-dialog sizeModalWindow">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">X</button>
        <h4 class="modal-title">Заказ обратного звонка</h4>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <center>
            <p><input type="text" class="inputZakaz" placeholder="Ваше Имя"/></p>
            <p><input type="text" class="inputZakaz" placeholder="Контактный номер"/></p>
            <p><textarea type="text" class="inputZakaz" style="width: 195px;" placeholder="Комментарий"></textarea></p>
            <center><button class="btn btn-danger btnZakaz" type="button" data-dismiss="modal">Перезвоните мне </button></center>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>
<!--END_MODAL_WINDOWS-->


</body>

<script type="text/javascript">
    $(document).ready(function() {
        $('#myCarousel').carousel({
            interval: 50000
        })

        $('#myCarousel').on('slid.bs.carousel', function() {
            //alert("slid");
        });
    });
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"/>