<h1>template2</h1>
<canvas style="float:left;" id="canvas" width="266" height="133">
</canvas>
<canvas style="float:left;" id="canvas" width="133" height="133">
</canvas>
<canvas style="float:left;" id="canvas" width="200" height="133">
</canvas>
<canvas style="float:left;" id="canvas" width="200" height="133">
</canvas>
<canvas style="float:left;" id="canvas" width="133" height="133">
</canvas>
<canvas style="float:left;" id="canvas" width="266" height="133">
</canvas>