<!--<h1>template2</h1>-->
<div id="canvas-container" style="width: 400px; height: 400px;">
  <div class="div_for_canvas" id="template_2_1" style="float:left; width: 266px !important; height: 133px !important;">
    <canvas class="canvases" id="canvas_template_2_1" style="float:left; width: 266px !important; height: 133px !important;"
            c_top="0.165" c_left="0.335" c_height="0.33" c_width="0.665">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_2_2" style="float:left; width: 133px !important; height: 133px !important;">
    <canvas class="canvases" id="canvas_template_2_2" style="float:left; width: 133px !important; height: 133px !important;"
            c_top="0.165" c_left="0.832" c_height="0.33" c_width="0.335">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_2_3" style="float:left; width: 200px !important; height: 133px !important;">
    <canvas class="canvases" id="canvas_template_2_3"  style="float:left; width: 200px !important; height: 133px !important;"
            c_top="0.495" c_left="0.25" c_height="0.33" c_width="0.5">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_2_4" style="float:left; width: 200px !important; height: 133px !important;">
    <canvas class="canvases" id="canvas_template_2_4" style="float:left; width: 200px !important; height: 133px !important;"
            c_top="0.495" c_left="0.75" c_height="0.33" c_width="0.5">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_2_5" style="float:left; width: 133px !important; height: 133px !important;">
    <canvas class="canvases" id="canvas_template_2_5" style="float:left; width: 133px !important; height: 133px !important;"
            c_top="0.825" c_left="0.168" c_height="0.33" c_width="0.335">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_2_6" style="float:left; width: 266px !important; height: 133px !important;">
    <canvas class="canvases" id="canvas_template_2_6" style="float:left; width: 266px !important; height: 133px !important;"
            c_top="0.825" c_left="0.66" c_height="0.33" c_width="0.665">
    </canvas>
  </div>
</div>