<h1>template3</h1>
<div id="canvas-container" style="width: 400px; height: 400px;">
  <div class="div_for_canvas" id="template_3_1" style="float:left; width: 100px !important; height: 100px !important;">
    <canvas class="canvases" id="canvas_template_3_1" style="float:left; width: 100px !important; height: 100px !important;"
            c_top="0.25" c_left="0.125" c_height="0.25" c_width="0.25">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_3_2" style="float:left; width: 100px !important; height: 100px !important;">
    <canvas class="canvases" id="canvas_template_3_2" style="float:left; width: 100px !important; height: 100px !important;"
            c_top="0.25" c_left="0.375" c_height="0.25" c_width="0.25">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_3_3" style="float:left; width: 100px !important; height: 100px !important;">
    <canvas class="canvases" id="canvas_template_3_3" style="float:left; width: 100px !important; height: 100px !important;"
            c_top="0.25" c_left="0.625" c_height="0.25" c_width="0.25">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_3_4" style="float:left; width: 100px !important; height: 100px !important;">
    <canvas class="canvases" id="canvas_template_3_4" style="float:left; width: 100px !important; height: 100px !important;"
            c_top="0.25" c_left="0.875" c_height="0.25" c_width="0.25">
    </canvas>
  </div>
</div>