<!--<h1>template4</h1>-->
<div id="canvas-container" style="width: 400px; height: 400px;">
  <div class="div_for_canvas" id="template_4_1" style="float:left; width: 200px !important; height: 133px !important;">
    <canvas class="canvases" id="canvas_template_4_1" style="float:left; width: 200px !important; height: 133px !important;"
            c_top="0.165" c_left="0.25" c_height="0.33" c_width="0.5">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_4_2" style="float:left; width: 200px !important; height: 133px !important;">
    <canvas class="canvases" id="canvas_template_4_2" style="float:left; width: 200px !important; height: 133px !important;"
            c_top="0.165" c_left="0.75" c_height="0.33" c_width="0.5">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_4_3" style="float:left; width: 200px !important; height: 133px !important;">
    <canvas class="canvases" id="canvas_template_4_3" style="float:left; width: 200px !important; height: 133px !important;"
            c_top="0.5" c_left="0.25" c_height="0.33" c_width="0.5">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_4_4" style="float:left; width: 200px !important; height: 133px !important;">
    <canvas class="canvases" id="canvas_template_4_4" style="float:left; width: 200px !important; height: 133px !important;"
            c_top="0.5" c_left="0.75" c_height="0.33" c_width="0.5">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_4_5" style="float:left; width: 200px !important; height: 133px !important;">
    <canvas class="canvases" id="canvas_template_4_5" style="float:left; width: 200px !important; height: 133px !important;"
            c_top="0.825" c_left="0.25" c_height="0.33" c_width="0.5">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_4_6" style="float:left; width: 200px !important; height: 133px !important;">
    <canvas class="canvases" id="canvas_template_4_6" style="float:left; width: 200px !important; height: 133px !important;"
            c_top="0.825" c_left="0.75" c_height="0.33" c_width="0.5">
    </canvas>
  </div>
</div>