<!--<h1>template8</h1>-->
<div id="canvas-container" style="width: 400px; height: 400px;">
  <div class="div_for_canvas" id="template_8_1" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_1" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.1" c_left="0.1" c_height="0.2" c_width="0.2">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_8_2" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_2" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.1" c_left="0.3" c_height="0.2" c_width="0.2">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_8_3" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_3" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.1" c_left="0.5" c_height="0.2" c_width="0.2">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_8_4" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_4" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.1" c_left="0.7" c_height="0.2" c_width="0.2">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_8_5" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_5" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.1" c_left="0.9" c_height="0.2" c_width="0.2">
    </canvas>
  </div>

  <div class="div_for_canvas" id="template_8_6" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_6" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.3" c_left="0.1" c_height="0.2" c_width="0.2">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_8_7" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_7" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.3" c_left="0.3" c_height="0.2" c_width="0.2">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_8_8" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_8" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.3" c_left="0.5" c_height="0.2" c_width="0.2">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_8_9" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_9" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.3" c_left="0.7" c_height="0.2" c_width="0.2">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_8_10" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_10" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.3" c_left="0.9" c_height="0.2" c_width="0.2">
    </canvas>
  </div>

  <div class="div_for_canvas" id="template_8_11" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_11" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.5" c_left="0.1" c_height="0.2" c_width="0.2">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_8_12" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_12" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.5" c_left="0.3" c_height="0.2" c_width="0.2">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_8_13" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_13" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.5" c_left="0.5" c_height="0.2" c_width="0.2">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_8_14" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_14" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.5" c_left="0.7" c_height="0.2" c_width="0.2">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_8_15" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_15" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.5" c_left="0.9" c_height="0.2" c_width="0.2">
    </canvas>
  </div>

  <div class="div_for_canvas" id="template_8_16" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_16" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.7" c_left="0.1" c_height="0.2" c_width="0.2">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_8_17" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_17" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.7" c_left="0.3" c_height="0.2" c_width="0.2">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_8_18" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_18" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.7" c_left="0.5" c_height="0.2" c_width="0.2">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_8_19" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_19" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.7" c_left="0.7" c_height="0.2" c_width="0.2">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_8_20" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_20" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.7" c_left="0.9" c_height="0.2" c_width="0.2">
    </canvas>
  </div>

  <div class="div_for_canvas" id="template_8_21" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_21" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.9" c_left="0.1" c_height="0.2" c_width="0.2">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_8_22" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_22" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.9" c_left="0.3" c_height="0.2" c_width="0.2">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_8_23" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_23" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.9" c_left="0.5" c_height="0.2" c_width="0.2">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_8_24" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_24" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.9" c_left="0.7" c_height="0.2" c_width="0.2">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_8_25" style="float:left; width: 80px !important; height: 80px !important;">
    <canvas class="canvases" id="canvas_template_8_25" style="float:left; width: 80px !important; height: 80px !important;"
            c_top="0.9" c_left="0.9" c_height="0.2" c_width="0.2">
    </canvas>
  </div>

</div>