<!--<h1>template1</h1>-->
<div id="canvas-container" style="width: 400px; height: 400px;">
  <div class="div_for_canvas" id="template_1_1">
    <canvas style="width: 400px !important; height: 200px !important;" class="canvases" id="canvas_template_1_1"
            c_top="0.25" c_left="0.5" c_height="0.5" c_width="1">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_1_2">
    <canvas style="width: 400px !important; height: 200px !important;" class="canvases" id="canvas_template_1_2"
            c_top="0.75" c_left="0.5" c_height="0.5" c_width="1">
    </canvas>
  </div>
</div>

