<!--<h1>template8</h1>-->
<div id="canvas-container" style="width: 400px; height: 400px;">
  <div class="div_for_canvas" id="template_8_1" style="float:left; width: 400px !important; height: 400px !important;">
    <canvas class="canvases" id="canvas_template_8_1" style="float:left; width: 400px !important; height: 400px !important;"
            c_top="1" c_left="1" c_height="1" c_width="1">
    </canvas>
  </div>

</div>