<!--<h1>template3</h1>-->
<div id="canvas-container" style="width: 400px; height: 400px;">
  <div class="div_for_canvas" id="template_3_1" style="float:left; width: 100px !important; height: 100px !important;">
    <canvas class="canvases" id="canvas_template_3_1" style="float:left; width: 100px !important; height: 100px !important;"
            c_top="0.125" c_left="0.125" c_height="0.25" c_width="0.25">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_3_2" style="float:left; width: 100px !important; height: 100px !important;">
    <canvas class="canvases" id="canvas_template_3_2" style="float:left; width: 100px !important; height: 100px !important;"
            c_top="0.125" c_left="0.375" c_height="0.25" c_width="0.25">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_3_3" style="float:left; width: 100px !important; height: 100px !important;">
    <canvas class="canvases" id="canvas_template_3_3" style="float:left; width: 100px !important; height: 100px !important;"
            c_top="0.125" c_left="0.625" c_height="0.25" c_width="0.25">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_3_4" style="float:left; width: 100px !important; height: 100px !important;">
    <canvas class="canvases" id="canvas_template_3_4" style="float:left; width: 100px !important; height: 100px !important;"
            c_top="0.125" c_left="0.875" c_height="0.25" c_width="0.25">
    </canvas>
  </div>


  <div style="float:left; width: 100px !important; height: 200px !important;">
  <div class="div_for_canvas" id="template_3_5" style="float:left; width: 100px !important; height: 100px !important;">
    <canvas class="canvases" id="canvas_template_3_5" style="float:left; width: 100px !important; height: 100px !important;"
            c_top="0.375" c_left="0.125" c_height="0.25" c_width="0.25">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_3_8" style="float:left; width: 100px !important; height: 100px !important;">
    <canvas class="canvases" id="canvas_template_3_8" style="float:left; width: 100px !important; height: 100px !important;"
            c_top="0.375" c_left="0.125" c_height="0.25" c_width="0.25">
    </canvas>
  </div>
  </div>


  <div class="div_for_canvas" id="template_3_6" style="float:left; width: 200px !important; height: 200px !important;">
    <canvas class="canvases" id="canvas_template_3_6" style="float:left; width: 200px !important; height: 200px !important;"
            c_top="0.5" c_left="0.5" c_height="0.5" c_width="0.5">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_3_7" style="float:left; width: 100px !important; height: 100px !important;">
    <canvas class="canvases" id="canvas_template_3_7" style="float:left; width: 100px !important; height: 100px !important;"
            c_top="0.375" c_left="0.875" c_height="0.25" c_width="0.25">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_3_9" style="float:left; width: 100px !important; height: 100px !important;">
    <canvas class="canvases" id="canvas_template_3_9" style="float:left; width: 100px !important; height: 100px !important;"
            c_top="0.625" c_left="0.875" c_height="0.25" c_width="0.25">
    </canvas>
  </div>


  <div class="div_for_canvas" id="template_3_10" style="float:left; width: 100px !important; height: 100px !important;">
    <canvas class="canvases" id="canvas_template_3_10" style="float:left; width: 100px !important; height: 100px !important;"
            c_top="0.875" c_left="0.125" c_height="0.25" c_width="0.25">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_3_11" style="float:left; width: 100px !important; height: 100px !important;">
    <canvas class="canvases" id="canvas_template_3_11" style="float:left; width: 100px !important; height: 100px !important;"
            c_top="0.875" c_left="0.375" c_height="0.25" c_width="0.25">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_3_12" style="float:left; width: 100px !important; height: 100px !important;">
    <canvas class="canvases" id="canvas_template_3_12" style="float:left; width: 100px !important; height: 100px !important;"
            c_top="0.875" c_left="0.625" c_height="0.25" c_width="0.25">
    </canvas>
  </div>
  <div class="div_for_canvas" id="template_3_13" style="float:left; width: 100px !important; height: 100px !important;">
    <canvas class="canvases" id="canvas_template_3_13" style="float:left; width: 100px !important; height: 100px !important;"
            c_top="0.875" c_left="0.875" c_height="0.25" c_width="0.25">
    </canvas>
  </div>
</div>