<div id="div_template3" class="ui-widget-header template_div" >
  <div class="droppableImg ui-widget-header " x="0" y="0"
       style="float: left; width: 100px; height: 100px; margin-top: 0px;margin-left: 0px">
  </div>
  <div class="droppableImg ui-widget-header " x="100" y="0"
       style="border-color: blue; width: 100px; height: 100px; margin-top: 100px; margin-left: 100px">
  </div>
  <div class="droppableImg ui-widget-header " x="200" y="0"
       style="border-color: blue; width: 100px; height: 100px; margin-top: -100px; margin-left: 200px">
  </div>
  <div class="droppableImg ui-widget-header " x="300" y="0"
       style="border-color: blue; width: 100px; height: 100px; margin-top: -100px; margin-left: 300px">
  </div>

  <div class="droppableImg ui-widget-header " x="0" y="100"
       style="width: 100px; height: 100px; margin-top: 0px;margin-left: 0px">
  </div>
</div>