<div id="div_template2" class="ui-widget-header template_div" >
  <canvas id="111" width="400" height="400">
  </canvas>
  <div class="droppableImg ui-widget-header " style="width: 200px; height: 200px; margin-top: -400px;margin-left: 0px">
  </div>
  <div class="droppableImg ui-widget-header " style="width: 200px; height: 200px; margin-top: -200px; margin-left: 200px">
  </div>
  <div class="droppableImg ui-widget-header" style="width: 200px; height: 200px; border-color: blue; margin-top: 0px; margin-left: 0px;">
  </div>
  <div class="droppableImg ui-widget-header" style="width: 200px; height: 200px; border-color: blue; margin-top: -200px; margin-left: 200px;">
  </div>
</div>