<div id="div_template2" class="ui-widget-header template_div" style="width: 350px; height: 350px">
  <div class="droppableImg ui-widget-header " style="width: 175px; height: 350px">
  </div>
  <div class="droppableImg ui-widget-header" style="width: 175px; height: 350px; border-color: blue">
  </div>
</div>