<div id="div_template1" class="ui-widget-header template_div" style="width: 350px; height: 350px">
  <div class="droppableImg ui-widget-header " style="width: 350px; height: 175px">
  </div>
  <div class="droppableImg ui-widget-header" style="width: 350px; height: 175px;  border-color: red">
  </div>
</div>