<div id="div_template2" class="ui-widget-header template_div">
  <div class="droppableImg ui-widget-header " x="0" y="0"
       style="float: left; width: 200px; height: 200px; margin-top: 0px;margin-left: 0px">
  </div>
  <div class="droppableImg ui-widget-header " x="200" y="0"
       style=" width: 200px; height: 200px; margin-top: -400px; margin-left: 200px">
  </div>
  <div class="droppableImg ui-widget-header" x="0" y="200"
       style=" width: 200px; height: 200px; border-color: blue; margin-top: 0px; margin-left: 0px;">
  </div>
  <div class="droppableImg ui-widget-header" x="200" y="200"
       style="float: left; width: 200px; height: 200px; border-color: blue; margin-top: -200px; margin-left: 200px;">
  </div>
</div>