<div class="painting">
  <h3 class="name"><%= painting.name %></h3>
  <%=  image_tag(painting.image_url(:thumb), class: 'dragImg ui-widget-content', draggable: 'true') if painting.image? %>
  <div class="actions">
    <!--<%= link_to "edit", edit_painting_path(painting) %> |-->
    <%= link_to "удалить", painting, :confirm => 'Are you sure?', :method => :delete %>
  </div>
</div>