<div class="painting">
  <%=  image_tag(painting.image_url(:thumb), class: 'dragImg ui-widget-content', draggable: 'true') if painting.image? %>
  <div class="actions">
    <!--<%= link_to "edit", edit_painting_path(painting) %> |-->
    <%= link_to "удалить", painting, :confirm => 'Вы уверены ?', :method => :delete %>
  </div>
</div>