<h1>Painting Gallery</h1>
<div id="paintings">
  <%= render @paintings %>
</div>

<%= form_for Painting.new do |f| %>
  <%= f.label :image, "Upload images:" %>
  <%= f.file_field :image, multiple: true, name: "painting[image]" %>
<% end %>

<div id="center" >
  <div>
    <input type="button" id="deleteImage" value="deleteImage"/>
    <input type="range" id="opacity" min="0" max="1" step="0.1" value="0.5">
    <input type="button" id="sendEmail" value="SendEmail"/>
    <input id="email" value="stmy999@gmail.com"/>
  </div>
  <canvas id="canvas" width="500" height="500" >
  </canvas>
</div>