/*
 * This is a manifest file that'll be compiled into application.css; which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory; lib/assets/stylesheets; vendor/assets/stylesheets;
 * or vendor/assets/stylesheets of plugins; if any; can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file; but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap-modal
 */

#draggable {
    width: 100px;
    height: 100px;
    padding: 0.5em;
    float: left;
    margin: 10px 10px 10px 0;
}

#droppable {
    width: 150px;
    height: 150px;
    padding: 0.5em;
    float: left;
    margin: 10px;
    border-style: solid;
}

#center {
    margin: 0 auto;
}

/*#div_template1{margin:0 auto; border-style: solid}*/
.droppableImg {
    border-style: solid
}

#ajaxBusy {
    display: "none";
    margin: "0px";
    paddingLeft: "0px";
    paddingRight: "0px";
    paddingTop: "0px";
    paddingBottom: "0px";
    position: "absolute";
    right: "3px";
    top: "3px";
    width: "auto"
}


