@font-face {
    font-family: Thin;
    src: url(fonts/Helvetica-3-Thin.ttf) format('truetype');
}

@font-face {
    font-family: Intro;
    src: url(fonts/IntroRegular.otf) format('truetype');
}

@font-face {
    font-family: Light;
    src: url(fonts/Helvetica-4-Light.ttf) format('truetype');
}

@font-face {
    font-family: Normal;
    src: url(fonts/Helvetica-5-Normal.ttf) format('truetype');
}

@font-face {
    font-family: Medium;
    src: url(fonts/Helvetica-6-Medium.ttf) format('truetype');
}

@font-face {
    font-family: Bold;
    src: url(fonts/Helvetica-7-Bold.ttf) format('truetype');
}

@font-face {
    font-family: Heavy;
    src: url(fonts/Helvetica-8-Heavy.ttf) format('truetype');
}

@font-face {
    font-family: Black;
    src: url(fonts/Helvetica-9-Black.ttf) format('truetype');
}

/*FONTS*/
.f2{font-family: Intro,serif;}
.f3{font-family: Thin,serif;}
.f4{font-family: Light,serif;}
.f5{font-family: Normal,serif;}
.f6{font-family: Medium,serif;}
.f7{font-family: Bold,serif;}
.f8{font-family: Heavy,serif;}
.f9{font-family: Black,serif;}
/*END_FONTS*/

/*FONT_SIZE*/
.f32{font-size: 32px;}
.f38{font-size: 38px;}
/*END_FONT_SIZE*/

/*FONTS_SIZE*/
.h1{font-size: 28px;}
.h2{font-size: 29px;}
.h3{font-size: 32px;}
.h4{font-size: 36px;}
.h5{font-size: 38px;}
.h6{font-size: 40px;}
/*END_FONTS_SIZE*/

/*FONTS_COLORS*/
.white {color: #ffffff;}
.black {color: #000;}
.grey {color: #525352;}
.blue {color: #54a1bb;}
.bluePlus {color: #17647e;}
.bluePlusPlus {color: #285663;}
.red {color: #e34229;}
/*END_FONTS_COLORS*/



.center{
    width: 1000px;
    margin: 0 auto;
}

.center2{
    width: 1200px;
    margin: 0 auto;
}

body{
    width: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: #ffffff;
}
/*
SMALL_MOBILE: max 360px, min 280px.
*/

#menuTop{
    float: left;
    height: 65px;
    width: 100%;
    background: #f8f8f8;
    position: fixed;
    z-index: 250;
    box-shadow: 0 0 0 5px rgba(59, 46, 14, 0.05);
}

#menuTop2{
    float: left;
    height: 65px;
    width: 100%;
    background: #f8f8f8;
    margin-top: -40px;
    position: fixed;
    z-index: 250;
    box-shadow: 0 0 0 5px rgba(59, 46, 14, 0.05);
}

.menuTopClass{
    float: left;
    height: 65px;
    width: 1000px;
}

.menuTopAImg{
    float: left;
    margin-top: 10px;
    margin-left: 25px;
    text-decoration: none;
}

.menuTopA, .menuTopA1, .menuTopA2{
    float: left;
    margin-left: 10px;
    text-decoration: none;
    font-size: 16px;
    color: #191919;
    transition: 0.3s;
    margin-top: 25px;
    outline: none !important;
}

.menuTopA1{
    margin-left: 120px;
}

.menuTopA1_2{
    margin-left: 45px;
    margin-top: 0;
}

.menuTopA2_n{
    margin-top: 0;
}

.menuTopA2{
    margin-left: 10px;
}

.menuTopA:hover, .menuTopA1:hover, .menuTopA2:hover{
    color: #009aa0;
    text-decoration: underline;
    transition: 0.3s;
    cursor: pointer;
}

.menuTopImg{
    float: left;
    margin-top: 28px;
    margin-left: 12px;
}

.menuTopImg_n{
    margin-top: 5px;
    margin-left: 0;
}

.menuTopAText{
    float: left;
    margin-top: 18px;
    margin-left: 10px;
}

.font1{
    font-family: Heavy;
    font-size: 24px;
    color: #191919;
    margin-top: -12px;
}

.font2{
    font-size: 12px;
    color: #191919;
    margin-top: -12px;
}

.menuTopNomer{
    float: left;
    font-size: 18px;
    color: #191919;
    margin-top: 23px;
    margin-left: 20px;
}

.menuTopButton{
    float: right;
    width: 165px;
    height: 50px;
    padding: 15px 0 0 36px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    margin-right: 40px;
    color: #ffffff;
    text-decoration: none;
    background: #fe496a url("img/phone.png") no-repeat 10px 15px;
}

.menuTopButton:hover{
    cursor: pointer;
    transition: 0.3s;
    color: #ffffff;
    text-decoration: none;
    background: #fe3246 url("img/phone.png") no-repeat 10px 15px;
}

.menuTopButton:active{
    cursor: pointer;
    transition: 0.3s;
    color: #ffffff;
    text-decoration: none;
    background: #fe162b url("img/phone.png") no-repeat 10px 15px;
    outline: none;
}

.menuTopButton img{
    float: left;
    margin-top: 12px;
}

.menuTopButton p{
    float: left;
    font-size: 14px;
    color: #ffffff;
    margin-left: 10px;
}

/*END_MENU*/




/*TOP*/
#top{
    float: left;
    width: 100%;
    height: 840px;
    background: url("img/bgTop.png") repeat-x bottom;
    z-index: 2;
    margin-top: 100px;
}

.topWoman{
    float: left;
    width: 315px;
    height: 400px;
    background: url("img/woman.png") no-repeat;
    margin-left: 50px;
    margin-top: 24px;
    z-index: 1;
}

.topPresent1{
    float: right;
    margin-left: 50px;
    height: 425px;
    line-height: 75px;
}

.topPresent1Text1{
    font-family: Heavy;
    color: #19a2a7;
    font-size: 46px;
}

.topPresent1Text2{
    font-family: Heavy;
    color: #232428;
    font-size: 32px;
    margin-top: -45px;
}

.topPresent1Text3{
    color: #232428;
    font-size: 16px;
    margin-top: -25px;
    line-height: 20px;
}

.topPresent2{
    float: left;
    /*width: 524px;*/
    height: 110px;
    margin-top: -94px;
}

.topPresent2Text1{
    font-family: Heavy;
    color: #ffffff;
    font-size: 28px;
    padding: 10px 20px 8px 20px;
    background: #39888b;
    opacity: 0.85;
}

.topPresent2Text2{
    width: 420px;
    font-family: Heavy;
    color: #ffffff;
    font-size: 32px;
    padding: 0 0 8px 20px;
    background: #39888b;
    opacity: 0.85;
    margin-top: -10px;
}

.topPresent2Text3{
    float: left;
    width: 300px;
    height: 65px;
    transition: 0.3s;
    margin-top: -10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 21px;
    padding: 18px;

    background: #fe496a url("img/st.png") no-repeat 275px 22px;
}

.topPresent2Text3:hover{
    float: left;
    width: 300px;
    height: 65px;
    transition: 0.3s;
    color: #ffffff;
    font-weight: bold;
    font-size: 21px;
    padding: 18px;

    background: #fe3246 url("img/st.png") no-repeat 275px 22px;
}

.pillow{
    float: left;
    width: 375px;
    height: 355px;
    background: url("img/pillow.png");
    margin-top: -215px;
}

.pillow p{
    margin-left: -5px;
    margin-top: 145px;
    text-align: center;
}

.pillow font1{
    font-family: Heavy;
    font-size: 30px;
    color: #ffffff;
}

.pillow font2{
    font-family: Normal;
    font-size: 26px;
    color: #ffffff;
}



.present1, .present2, .present3{
    float: left;
    text-align: center;
    margin-left: 60px;
    margin-top: 20px;
}

.present1{
    margin-left: 140px;
}

.present2 img{
    margin-top: 15px;
}

.present1Text1{
    font-size: 21px;
    color: #002b2c;
    margin-top: 10px;
}

.present1Text2{
    font-size: 14px;
    color: #0a3a3b;
    margin-top: -5px;
}

.present2Text1{
    font-size: 21px;
    color: #002b2c;
    margin-top: -5px;
}

.present2Text2{
    font-size: 14px;
    color: #0a3a3b;
    margin-top: -5px;
}

/*TOP*/



/*QUALITY*/

#quality{
    float: left;
    width: 100%;
    height: 450px;
    background: #ffffff;
    padding-bottom: 20px;
}

.qualityPillow{
    float: left;
    width: 400px;
    height: 450px;
    margin-left: 50px;
    background: url("img/pillow3.png") no-repeat center;
}

.qualityPillowP1, .qualityPillowP2, .qualityPillowP3{
    /*font-family: Verdana;*/
}

.qualityPillowP1, .qualityPillowP2{
    color: #194b4c;
    font-size: 18px;
    text-align: center;
}

.qualityPillowP1{
    padding-top: 90px;
}

.qualityPillowP2{
    margin-top: -15px;
    font-size: 30px;
}

.qualityPillowP3{
    width: 310px;
    color: #0f2a2c;
    font-size: 14px;
    margin-left: 50px;
    line-height: 22px;
    margin-top: 30px;
}

.qualityPeople{
    float: left;
    margin-left: 50px;
    margin-top: 45px;
    width: 370px;
}

.faFonts{
    float: left;
    font-size: 45px !important;
    color: #194B4C;
}

.qualityPeopleText1{
    float: left;
    margin-left: 25px;
    padding-top: 5px;
    font-size: 25px;
    font-weight: bold;
}

.qualityPeopleText11{
    margin-left: 20px;
}

.fa3{
    margin-left: 5px;
}

.qualityPeopleText13{
    margin-left: 20px;
}

.qualityPeopleText2{
    float: left;
    margin-left: 73px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.slider1, .slider2, .slider3, .slider4{
    width: 440px;
    height: 120px;
    /*float: left;*/
    border: solid 3px #dbf0f1;
    border-radius: 20px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 160px;
    margin-top: 55px;
}

.slider1 img{
    float: left;
    width: 135px;
    height: 135px;
    border-radius: 50%;
}

.sliderP1{
    float: left;
    font-family: Bold;
    font-size: 16px;
    color: #232428;
    margin-left: 20px;
    margin-top: 25px;
}

.sliderP2{
    float: left;
    /*font-family: Verdana;*/
    font-size: 12px;
    color: #232428;
    margin-left: 20px;
}








/*SLIDER*/
/*
.vertical .carousel-inner {
    height: 100%;
}

.carousel-inner {
    width: 100%;
    position: relative;
}

.carousel.vertical .item {
    -webkit-transition: 0.6s ease-in-out top;
    -moz-transition: 0.6s ease-in-out top;
    -ms-transition: 0.6s ease-in-out top;
    -o-transition: 0.6s ease-in-out top;
    transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
    top: 0;
}

.carousel.vertical .next {
    top: 200px;
}

.carousel.vertical .prev {
    top: -200px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
    top: 0;
}

.carousel.vertical .active.left {
    top: -200px;
}

.carousel.vertical .active.right {
    top: 200px;
}

.carousel.vertical .item {
    left: 0;
}

.carousel-control{
    font-size: 80px !important;
    transform: rotate(90deg);
}


.carousel-control.right{
    color: #009aa0;
    margin-top: 320px !important;
    margin-right: 120px !important;
    background-image: none !important;
}

.carousel-control.left{
    color: #009aa0;
    margin-top: -340px !important;
    margin-left: -60px !important;
    background-image: none !important;
}
*/
/*.carousel-control.right:hover, .carousel-control.left:hover{*/
    /*color: rgba(0, 154, 160, 0.65);*/
/*}*/


.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev		 { left: -25%; }
.carousel-control 			 { width:  4%; }
.carousel-control.left,.carousel-control.right {
    /*font-size: 35px;*/
    background-image:none;
}

.carousel-control {
    padding-top:10%;
    width:5%;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
    line-height: 1;
}
.item img {
    width: 100%;
}
/*END_SLIDER*/

/*END_QUALITY*/


















/*PILLOWS*/
#pillows{
    float: left;
    width: 100%;
    height: 130px;
    background: #7acbce;

    margin-top: 10px;
    margin-bottom: 20px;
}

.pillowsImg1{
    float: left;
    margin-left: 50px;
    margin-top: 25px;
}

.pillowText1{
    width: 500px;
    float: left;
    font-family: Heavy;
    font-size: 34px;
    color: #ffffff;
    margin-top: 33px;
    margin-left: 25px;
    text-transform: uppercase;
}

.pillowText2{
    float: left;
    font-family: Normal;
    font-size: 24px;
    color: #246062;
    margin-top: -20px;
    margin-left: 25px;
    text-transform: uppercase;
}

.pillowsImg2{
    float: left;
    margin-top: 20px;
    margin-left: -200px;
}

#pillowsPhoto{
    float: left;
    width: 100%;
    height: auto;
}

.pillowsPhoto{
    float: left;
    width: 970px;
    margin-left: 33px;
    margin-bottom: 20px;
}

.pillowsPhoto .container{
    width: 970px;
}

.pillowsPhoto a {
    float: left;
    padding-right: 5px;
    padding-top: 5px;
    position: relative;
    max-width: 240px;
    transition: 0.2s linear;
}

.pillowsPhoto a:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
/*END_PILLOWS*/

/*LINE_ZAKAZ*/

#lineZakaz{
    float: left;
    width: 100%;
    height: 120px;
    background: #fe496a;
    margin-top: 30px;
}

.lineZakazText3{
    float: right;
    width: 230px;
    height: 65px;
    transition: 0.3s;
    margin-top: -20px;
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    padding: 17px;

    background: #d82848 url("img/st.png") no-repeat 190px 19px;
}

.lineZakazText3:hover{
    color: #ffffff;
    font-weight: bold;
    padding: 17px;
    background: #f8284d url("img/st.png") no-repeat 190px 19px;
}

.lineZakazLeft{
    float: left;
}

.lineZakazLeft img{
    float: left;
    margin-top: 27px;
    margin-left: 50px;
}

.lineZakazLeftP1{
    /*float: left;*/
    font-family: Bold;
    color: #ffffff;
    font-size: 28px;
    margin-left: 135px;
    line-height: 30px;
    margin-top: 26px;
}

.lineZakazRight{
    float: left;
    margin-top: 45px;
    margin-right: 3px;
    margin-left: 163px;
}

/*END_LINE_ZAKAZ*/


/*VK*/
#vk{
    float: left;
    width: 100%;
}
/*END_VK*/

.vk{
    float: left;
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.vk img{
    float: left;
    margin-left: 15px;
}

.vkP1{
    /*float: left;*/
    font-family: Heavy,serif;
    font-size: 28px;
    color: #232428;
    margin-left: 105px;
    margin-top: 0;
    line-height: 30px;
}

/*FOOTER*/

#footer{
    width: 100%;
    float: left;
    height: 100px;
    margin-top: 50px;
}

.footerLeft, .footerCenter, .footerRight{
    float: left;
    width: 330px;
    margin-top: 25px;
    text-align: center;
}

.footerCenter{
    width: 305px;
    margin-left: 50px;
}

.footerRight{
    width: 305px;
    margin-left: -5px;
}

.footerLeft img{
    float: left;
    margin-left: 30px;
}

.footerLeftP1{
    float: left;
    font-family: Heavy;
    font-size: 24px;
    color: #191919;
    margin-top: -3px;
    margin-left: 15px;
}

.footerLeftP2{
    float: left;
    font-size: 11px;
    color: #191919;
    margin-top: -15px;
    margin-left: 90px;
}

.footerCenterP1{
    font-size: 16px;
    text-align: center;
    color: #fe496a;
    margin-top: 0;
    margin-bottom: 8px;
}

.footerCenterA{
    float: left;
    font-size: 14px;
    color: #232428;
    text-align: center;
    padding-right: 10px;
}

.footerCenter a{
    font-size: 14px;
    color: #232428;
    text-decoration: none;
    padding-right: 10px;
    transition: 0.3s;
}

.footerCenter a:hover{
    color: #fe496a;
    text-decoration: underline;
    cursor: pointer;
}


.footerRightP1{
    float: right;
    font-size: 12px;
    color: #15a5aa;
    margin-top: 30px;
}

/*END_FOOTER*/



/*CONSTRUCTOR*/
#constructor{
    float: left;
    height: 565px;
    width: 100%;
    background: #ffffff;
}

.constructor{
    float: left;
    height: 565px;
    width: 1000px;
}

.leftConstructor, .leftConstructor2{
    float: left;
    height: 435px;
    width: 435px;
}

.leftConstructor, .leftConstructor2{
    margin-top: 70px;
    margin-left: 40px;
    background: url("img/constructorBg.png") no-repeat -10px 0;

}

.leftConstructor2{
    margin-top: 0;
    margin-left: 0;
    background-image: url("img/templates/template1.png");
    background-position:  25px 20px;
    background-size: 90%;
}

.rightConstructor1, .rightConstructor12{
    float: left;
    width: 385px;
    height: 90px;
    font-family: Verdana;
    border-left: 2px solid #e5f4f4;
    margin-top: 60px;
    margin-left: 65px;
}

.rightConstructor12{
    float: right;
    margin-top: 10px;
    height: 65px;
    margin-right: 70px;
}

.rightConstructor1P1{
    float: left;
    font-size: 16px;
    font-weight: bold;
    color: #009aa0;
    margin-left: 25px;
    margin-top: 5px;
}

.rightConstructor1P2, .rightConstructor1P22{
    float: left;
    font-size: 12px;
    color: #262626;
    margin-left: 25px;
    margin-top: -5px;
}

.rightConstructor1P22{
    margin-left: -53px;
    margin-top: 30px;
}

.rightConstructor2{
    float: left;
    width: 370px;
    height: 340px;
    font-family: Verdana;
    border: 2px solid #e5f4f4;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 65px;
    background-color: rgba(196, 225, 225, 0.5);
}

.rightConstructor input{
    float: left;
    background: #a92a2b;
    padding: 10px 105px 10px 105px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 51px;
    margin-bottom: 30px;
    text-transform: uppercase;
    outline: none;
    font-size: 20px;
}

.rightConstructor input:hover {
    background: #a90d10;
}

#lnk_more{
    float: left;
    background: #a92a2b;
    padding: 10px 15px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 4px;
    margin-left: 65px;
    margin-top: 20px;
    margin-bottom: 30px;
    outline: none;
    text-transform: uppercase;
    font-size: 16px;
}

#lnk_more:hover {
    background: #a90d10;
}

.rightConstructor2P1{
    font-size: 12px;
    font-weight: bold;
    color: #2F2E2E;
    margin-left: 40px;
    margin-top: 25px;
}

#schema {
    float: left;
    width: 57px;
    height: 57px;
    margin-left: 40px;
    margin-top: 15px;
    margin-right: 15px;
    background-image: url("img/pillowCunstructor/schema1.png");
}

.rightConstructor2P2, .rightConstructor2P3{
    font-family: Verdana,serif;
    font-size: 18px;
    font-weight: bold;
    color: #ea1919;
    margin-left: 10px;
    margin-top: 30px;
}

.rightConstructor2P3{
    font-size: 12px;
    font-weight: 100;
    color: #6a6a6a;
    margin-top: -10px;
}

.rightConstructorPillowBlack, .rightConstructorPillowWhite{
    float: left;
    margin-left: 10px;
    margin-top: 35px;
    transition: 0.3s;
}

.rightConstructorPillowBlack:hover, .rightConstructorPillowWhite:hover{
    cursor: pointer;
}

.rightConstructorPillowBlack{
    margin-left: 40px;
}

.rightConstructorPillowBlackP1, .rightConstructorPillowWhiteP1{
    float: left;
    font-family: Verdana,serif;
    font-size: 14px;
    font-weight: bold;
    color: #3c3c3c;
    margin-top: 55px;
    margin-left: 5px;
}

/*END_CONSTRUCTOR*/

/*CONSTRUCTOR_UPLOAD*/
#constructorUpload{
    float: left;
    width: 100%;
}

.constructorUpload{
    float: left;
    width: 950px;
    background: #f8f8f8;
}

.constructorUpload button {
    float: left;
    background: #a92a2b;
    padding: 10px 15px;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    margin-left: 46px;
    margin-top: 20px;
    margin-bottom: 30px;
    outline: none;
}

.constructorUpload button:hover {
    background: #a90d10;
}

#buttonUpload2{
    display: none;
}

/*END_CONSTRUCTOR_UPLOAD*/


#content{
    padding: 40px 0;
    width: 600px;
}

.view-source a:link, .view-source a:visited {
    width: 350px;
    height: 30px;
    line-height: 30px;
    font-family: Verdana,serif;
    font-size: 17px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    background: #bbb;
    border: none;
    clear: both;
    display: block;

    text-decoration: none;
    margin-top: 15px;
    margin-left: 340px;
    margin-bottom: 20px;
    transition:0.3s;
}

.view-source a:hover, .view-source a:active {
    background: #9d9d9d;
    color: #ffffff;
}

.mytext {
    text-align: justify;
    text-indent: 12px;
}

.hideBlockP1 {
    font-size: 23px;
    padding: 15px;
    margin-top: 25px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgba(0, 154, 160, 0.46);
}

#slide{
    float: left;
    width: 100%;
    margin-top: 60px;
}

.containerSlide{
    width: 480px;
    margin-top: 70px;
}


.hideBlock{
    display: block;
    width: 100%;
}

.rowConstructor{
    float: left;
    width: 100%;
    height: auto;
}

.constructorFoto{
    float: left;
    width: 25%;
    height: auto;
    transition: 0.3s;
}

.constructorFotoImg1{
    float: left;
    margin-left: 0;
    margin-top: 15px;
    transition: 0.3s;
}

.constructorFotoImg2{
    float: left;
    margin-left: 15px;
    margin-top: 15px;
}

.constructorP1, .constructorP2{
    float: left;
    font-family: Verdana,serif;
    font-size: 18px;
    font-weight: bold;
    color: #ea1919;
    margin-left: 10px;
    margin-top: 20px;
}

.constructorP2{
    font-size: 12px;
    font-weight: 100;
    color: #6a6a6a;
    margin-top: -30px;
    margin-left: 83px;
}

.constructorP2Add{
    margin-left: 10px;
    margin-top: -10px;
}

/*.constructorP2_2{*/
    /*margin-top: -15px;*/
    /*margin-left: 103px;*/
/*}*/

.constructorFoto:hover{
    height: auto;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 7px;
    background-color: rgba(226, 238, 239, 0.8);
}

.constructorFoto:hover .constructorFotoImg1{
    transition: 0.3s;
    transform: scale(1.08);
}
/*END_CONSTRUCTOR*/



/*PAINTINGS*/
#paintings{
    width: 100%;
    margin-left: 45px;
    margin-bottom: 45px;
    float: left;
}

.painting{
    width: auto;
    margin-left: 5px;
    /*margin-bottom: 45px;*/
    float: left;
}

/*END_PAINTINGS*/


/*MODAL_WINDOWS*/
.close{
    outline: none !important;
}

.close:hover{
    background: none !important;
}

.carousel-control {
    padding-top:10%;
    width:5%;
}

.modal-open{
    padding-right: 0 !important;
    margin-left: -9px !important;
}
/*END_MODAL_WINDOWS*/


/*ORDER*/
.modalOrder{
    height: 800px !important;
}

.modalTitle{
    height: 300px;
    border: none !important;
}

.title{
    float: left;
    width: 100%;
    height: 220px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: dotted #818181;
}

.leftTitle, .rightTitle{
    float:  left;
    width: 40%;
}

.rightTitle{
    width: 60%;
}

.sketchFoto{
    float: left;
    margin-left: 30px;
    margin-top: 15px;
    border: solid 2px #669eaf;
    border-radius: 5px;
    width: 150px;
    height: 150px;
}

.titleBody, .modalTextBody{
    float: left;
    width: 100%;
    padding-bottom: 25px;
    border-bottom: dotted #818181;
    margin-top: -15px;
    margin-bottom: 25px;
}

.textHepl1{
    float: right;
    font-style: italic;
    font-size: 12px;
    color: #979797;
    margin-top: -5px;
    margin-right: 30px;
}

.delivery1, .delivery2{
    float: left;
    width: 45%;
    height: 120px;
    text-align: center;
}

.modalBody{
    height: 550px;
}

.modalText{
    height: 135px;
}

.modalFooterLine{
    border: none !important;
}

.buttonFooter{
    text-align: center;
}

.inputZakaz{
    padding: 5px 10px;
}

.btnZakaz{
    height: 45px;
    width: 199px !important;
    font-size: 18px !important;
    margin-top: 25px;
}

.sizeModalWindow{
    width: 35% !important;
}
.plus_count{
    margin-left: 15px;
}

.plus_count, .minus_count{
    border-radius: 15%;
    color: #ffffff;
    background-color: #21A0A3;
    outline: none;
    border: none;
}

.fio{
    width: 70%;
    padding-left: 5px;
    margin-left: 20px;
}

.phone, .email, .address{
    padding-left: 5px;
    margin-left: 20px;
}

#validName, #validPhone{
    margin-top: 10px;
    margin-left: 9px;
    position: absolute;
    width: 16px;
    height: 16px;
}

#validFio, #validPhoneZakaz, #validEmail, #validAddress {
    margin-top: 5px;
    margin-left: 8px;
    position: absolute;
    width: 16px;
    height: 16px;
}

/*END_ORDER*/